torch==2.10.0
onnxruntime==1.24.3
joblib==1.5.3
PyYAML==6.0.3
easydict==1.13
python-box==7.4.1
tqdm==4.67.3
pygame==2.6.1
pynput==1.8.1
pydantic==2.12.5
mujoco==3.5.0
msgpack==1.1.2
msgpack-numpy==0.4.8
colorlog==6.10.1
opencv-python==4.11.0.86
pyarrow==23.0.1
matplotlib==3.10.8
meshcat==0.3.2
evdev==1.9.3
